<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <h1>Compose</h1>
    <form action="/compose" method="post">
      <div class="form-group">
      Title<br>
      <input type="text" name="composeText" class="form-control">
      <br>
      Post<br>
      <textarea name="composeTextArea" class="form-control" rows="5" cols="30"></textarea>
      <br>
      </div>
      <button class="btn btn-primary" type="submit">Publish</button>
    </form>
  
  </body>
</html>
